.mineralThumb {
  width:300px;
  height:300px;
}
.mineral-panel .well{
  margin-bottom: 20px;
  overflow: auto;
  min-height: 400px;
}
.mineral-thumb{
    width:200px;
    height:auto;
    float:left;
    margin-right:10px;
}
