<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Lista de Minerales</a>
      </div>
    </div>
</nav>
<br />
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <button (click)="changeState('add')" class="btn btn-primary">Añadir Mineral</button>
    </div>
    <div class="col-md-6">
      <label>Filtro por país
        <select class="form-control" (change)="filterLocation(filteredLocation.value)" #filteredLocation>
          <option value="">
            Seleccionar
          </option>
          <option *ngFor="let location of locations" value="{{location.name}}">{{location.name}}</option>
        </select>
      </label>
    </div>
  </div>

  <!-- Add form -->

  <div *ngIf="appState == 'add'" class="row">
    <div class="col-md-12">
      <h3>Añadir Mineral</h3>
      <form (submit)="addMineral(
      description.value,
      imgurl.value,
      location.value,
      name.value,
      gotit.value)">
        <div class="row">
          <div class="col-md-6 form-group">
            <label>Nombre
              <input class="form-control" type="text" placeholder="Nombre" #name />
            </label>
          </div>
          <div class="col-md-6 form-group">
            <label>País
              <select class="form-control" #location>
                <option value="">Seleccionar</option>
                <option *ngFor="let location of locations" value="{{location.name}}">{{location.name}}</option>
              </select>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 form-group">
            <label>Imagen
              <input class="form-control" type="text" placeholder="Imagen" #imgurl />
            </label>
          </div>
          <div class="col-md-6 form-group">
            <label>Descripcion
              <input class="form-control" type="text" placeholder="Descripcion" #description />
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 form-group">
            <label>¿La tienes?
              <select class="form-control" #gotit >
                <option value="s">Si</option>
                <option value="n">No</option>
              </select>
            </label>
          </div>
          <div class="col-md-6 form-group">
          </div>
        </div>
        <input type="submit" class="btn btn-success" value="Submit"/>
        <input type="button" (click)="changeState('default')" class="btn btn-danger" value="Cerrar">
      </form>
    </div>
  </div>


  <!-- Edit form -->

  <div *ngIf="appState == 'edit'" class="row">
    <div class="col-md-12">
      <h3>Editar Mineral</h3>
      <form (submit)="updateMineral()">
        <div class="row">
          <div class="col-md-6 form-group">
            <label>Nombre
              <input class="form-control" type="text" [(ngModel)]="activeName" name="activeName" placeholder="Nombre" #name />
            </label>
          </div>
          <div class="col-md-6 form-group">
            <label>País
              <select class="form-control" [(ngModel)]="activeLocation" name="activeLocation" #location >
                <option *ngFor="let location of locations" value="{{location.name}}">{{location.name}}</option>
              </select>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 form-group">
            <label>Imagen
              <input class="form-control" [(ngModel)]="activeImgurl" name="activeImgurl" type="text" placeholder="Imagen" #imgurl />
            </label>
          </div>
          <div class="col-md-6 form-group">
            <label>Description
              <input class="form-control" [(ngModel)]="activeDescription" name="activeDescription" type="text" placeholder="Description" #description />
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 form-group">
            <label>¿La tienes?
              <select class="form-control" [(ngModel)]="activeGotIt" name="activeGotIt" #gotit >
                <option value="s">Si</option>
                <option value="n">No</option>
              </select>
            </label>
          </div>
          <div class="col-md-6 form-group">
          </div>
        </div>
        <input type="submit" class="btn btn-success" value="Submit"/>
        <input type="button" (click)="changeState('default')" class="btn btn-danger" value="Cerrar">
      </form>
    </div>
  </div>


  <div *ngIf="appState == 'extend'">
    <div *ngFor="let mineral of minerals">
      <div *ngIf="mineral.$key == activeKey">
        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <h3>{{mineral.name}}</h3>
            <img class="mineralThumb" src="./app/img/{{mineral.imgurl}}.jpg" />
          </div>
          <div class="large-5 columns large-offset-1">
            <h3>Información</h3>
            <p>Descripción: {{mineral.description}}</p>
            <p>País: {{mineral.location}}</p>
            <p *ngIf="mineral.gotIt == 's'">
              <b>La tienes</b>
            </p>
            <p *ngIf="mineral.gotIt == 'n'">
              <b>No la tienes</b>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button (click)="changeState('default')" class="btn btn-danger">Cerrar</button>
      </div>
    </div>
  </div>


  <!-- VERSION 2 -->

  <div class="mineral-panel">
    <div class="row">
      <div *ngFor="let mineral of minerals">
        <div class="col-md-6">
          <div *ngIf="mineral.gotIt == 's'" class="panel panel-success">
            <div class="panel-heading">
              {{mineral.name}}
            </div>
            <div class="panel-body">
              <img class="col-md-6 img-thumbnail" src="./app/img/{{mineral.imgurl}}.jpg" />
              <div class="col-md-6">
                <p>
                  <b>Descripcion: </b>{{mineral.description}}
                </p>
                <p>
                  <b>País: </b>{{mineral.location}}
                </p>
                <p>
                  <b>La tienes!</b>
                </p>
              </div>
              <div class="btn-group col-md-6">
                <button (click)="changeState('extend', mineral.$key)" class="btn btn-info">Ver más</button>
                <button (click)="showEdit(mineral)" class="btn btn-primary">Editar</button>
                <button (click)="deleteMineral(mineral.$key)" class="btn btn-danger">Eliminar</button>
              </div>
            </div>
          </div>
          <div *ngIf="mineral.gotIt == 'n'" class="panel panel-danger">
            <div class="panel-heading">
              {{mineral.name}}
            </div>
            <div class="panel-body">
              <div class="panel-body">
                <img class="col-md-6 img-thumbnail" src="./app/img/{{mineral.imgurl}}.jpg" />
                <div class="col-md-6">
                  <p>
                    <b>Descripcion: </b>{{mineral.description}}
                  </p>
                  <p>
                    <b>País: </b>{{mineral.location}}
                  </p>
                  <p>
                    <b>No la tienes</b>
                  </p>
                </div>
                <div class="btn-group col-md-6">
                  <button (click)="changeState('extend', mineral.$key)" class="btn btn-info">Ver más</button>
                  <button (click)="showEdit(mineral)" class="btn btn-primary">Editar</button>
                  <button (click)="deleteMineral(mineral.$key)" class="btn btn-danger">Eliminar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
